{% extends '::base.html.twig' %}

{% block title %}Araneum{% endblock %}

{% block stylesheets %}
	{% stylesheets
		'@ArnmAraneumBundle/Resources/public/js/jquery-ui/css/smoothness/jquery-ui-1.8.18.custom.css'
	    '@ArnmAraneumBundle/Resources/public/css/araneum.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{% javascripts
	    '@ArnmAraneumBundle/Resources/public/js/jquery-1.7.1.min.js'
	    '@ArnmAraneumBundle/Resources/public/js/jquery-ui/js/jquery-ui-1.8.18.min.js'
	    '@ArnmBootstrapBundle/Resources/public/js/bootstrap-dropdown.js'
	    '@ArnmBootstrapBundle/Resources/public/js/bootstrap-tooltip.js'
	    '@ArnmBootstrapBundle/Resources/public/js/bootstrap-modal.js'
	    '@ArnmBootstrapBundle/Resources/public/js/bootstrap-alert.js'
	    '@ArnmAraneumBundle/Resources/public/js/jquerycookie.js'
	    '@ArnmAraneumBundle/Resources/public/js/lib/arnm-base.js'
	    '@ArnmAraneumBundle/Resources/public/js/lib/arnm-service.js'
	    '@ArnmAraneumBundle/Resources/public/js/lib/arnm-ajax-service.js'
	    '@ArnmAraneumBundle/Resources/public/js/araneum.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}


{% block body %}
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ path('arnm_dashboard') }}">Araneum</a>
          <div class="nav-collapse">
	          <ul class="nav">
	          	{% block top_left_nav %}
	            	<li class="active"><a href="{{ path('arnm_dashboard') }}">Dashboard</a></li>
	            	<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	            			Pages
	            			<b class="caret"></b>
            			</a>
	            		<ul class="dropdown-menu">
	            			<li><a href="{{ path('ArnmPagesBundle_pages') }}">Pages</a></li>
	            			<li class="divider"></li>
	            			<li><a href="{{ path('Araneum_layout') }}">Layouts</a></li>
	            			<li><a href="{{ path('Araneum_template') }}">Templates</a></li>
	        			</ul>
	        		</li>
	        		<li><a href="{{ path('arnm_media') }}">Media</a></li>
	        		<li><a href="{{ path('arnm_menus') }}">Menu</a></li>
	        		<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	            			Media Content
	            			<b class="caret"></b>
            			</a>
	            		<ul class="dropdown-menu">
	            			<li><a href="{{ path('arnm_media_content_slide') }}">Homepage Slides</a></li>
	            			<li><a href="{{ path('arnm_media_content_strip') }}">Homepage Strip</a></li>
	        			</ul>
	        		</li>
	        		<li class="dropdown">
	            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	            			Catalog
	            			<b class="caret"></b>
            			</a>
	            		<ul class="dropdown-menu">
	            			<li><a href="{{ path('arnm_catalog_items') }}">Items</a></li>
	            			<li><a href="{{ path('arnm_catalog_categories') }}">Categories</a></li>
	            			<li><a href="{{ path('arnm_catalog_collections') }}">Collections</a></li>
	        			</ul>
	        		</li>
	            {% endblock %}
	          </ul>
	          <ul class="nav pull-right">
	          	{% block top_right_nav %}
	          	
	          	{% endblock %}
          </div>
        </div>
      </div>
    </div>
	<div class="container-fluid ajax-container" id="container">
		<div class="row-fluid">
			<div class="span2">
				{% block sidebar %}
				{% endblock %}
			</div>
			<div class="span10 content">
			  {% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}